$icon-font-path: '../fonts/';
$pink: #FFE4DB;
$blue: #1E2863;

$form-input-bg: $pink;
$form-send-bg: $blue;
$apercu: "Apercu Regular", Calibri, sans-serif;

$mobile-br: 736px;
  
@font-face {
  font-family: 'Ultramagnetic';
  src: url('../fonts/ultramagnetic/ultramagnetic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ultramagnetic/ultramagnetic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// 
@import "form";

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// html, body {
//     width:      100%;
//     height:     100%;
//     overflow:   hidden;
// }

// body > div {
//     height:     100%;
//     overflow:   scroll;
//     -webkit-overflow-scrolling: touch;
// }

html,body {
  // background-color: #fd877a;

  background: #fd877a; /* Old browsers */
  background: linear-gradient(to bottom,  #fd877a 0%,#fd877a 50%,#707bab 50%,#707bab 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd877a', endColorstr='#707bab',GradientType=0 ); /* IE6-9 */

  font-family: $apercu;
  font-size-adjust: 0.508;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  @media (max-width: $mobile-br) {
    font-size: 14px;      
  }
}

h2 {
  font-family: 'Ultramagnetic', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
}

.fa-caret-down {
  color: #878390;
  top: 8px;
}

.required {
  color: #85f9c6;
}

.u-caps {
  text-transform: uppercase;
}

.u-center-text {
  text-align: center;
}

.u-mw-400 {
  margin: 0 auto;
  max-width: 400px;
}

.u-z-1 {
  position: relative;
  z-index: 1;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 20px;
  // padding-bottom: 20px;
}

p {
  font-family: $apercu;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 22px;

  @media (max-width: $mobile-br) {
    font-size: 14px;
  }
}

.sticky-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Ultramagnetic;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-left: 27px;
  @media (max-width: $mobile-br) {
    display: none;
    font-size: 14px;
  }

  &.stuck {
    position: fixed;
    top: 0;
  }
}

.nav-header-mobile {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Ultramagnetic;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-left: 27px;

  @media (max-width: $mobile-br) {
    display: block;
    background-color: rgba(67, 79, 102, .7);
    padding: 0;
    position: fixed;
    font-size: 13px;
    width: 100%;
  }
}

.nav {
  @media (max-width: $mobile-br) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
}

.nav > li {
  @media (max-width: $mobile-br) {
    // display: inline-block;
    padding: 0;
  }

  a {
    @media (max-width: $mobile-br) {
      padding: 0;
      margin-top: 2px;
    }
  }
}

.stars {
  position: absolute;
  top: -232px;
  left: -161px;
}

.star {
  background: url(../images/star.png) no-repeat center center / contain;
  width: 25px;
  height: 32px;
  position: absolute;
}

.star-0 {
  top: 267px;
  left: 40px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 267px;
    left: 162px;
  }
}

.star-1 {
  top: 114px;
  left: 353px;

  @media (max-width: $mobile-br) {
    background-size: 70%;

    top: 184px;
    left: 383px;
  }
}

.star-2 {
  top: 375px;
  left: 477px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 335px;
    left: 431px;
  }
}

.dots {
  position: absolute;
  top: -232px;
  left: -161px;
}

.dot {
  background: url(../images/dot.png) no-repeat center center / contain;
  width: 8px;
  height: 8px;
  position: absolute;
}

.dot-0 {
  top: 332px;
  left: 129px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 332px;
    left: 180px;
  }
}

.dot-1 {
  top: 391px;
  left: 361px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 361px;
    left: 376px;
  }
}

.dot-2 {
  top: 159px;
  left: 460px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 219px;
    left: 440px;
  }
}

.circles {
  position: absolute;
  top: -232px;
  left: -161px;
}

.circle {
  background: url(../images/circle.png) no-repeat center center / contain;
  width: 16px;
  height: 16px;
  position: absolute;
}

.circle-0 {
  top: 435px;
  left: 128px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 385px;
    left: 208px;
  }
}

.circle-1 {
  top: 200px;
  left: 210px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 200px;
    left: 210px;
  }
}

.circle-2 {
  top: 275px;
  left: 564px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    top: 275px;
    left: 444px;
  }
}

.pluses {
  position: absolute;
  top: -232px;
  left: -161px;
}

.plus {
  background: url(../images/plus.png) no-repeat center center / contain;
  width: 18px;
  height: 21px;
  position: absolute;
}

.plus-0 {
  top: 440px;
  left: 312px;

  @media (max-width: $mobile-br) {
    background-size: 80%;
    top: 390px;
    left: 312px;
  }
}

.plus-1 {
  top: 216px;
  left: 94px;

  @media (max-width: $mobile-br) {
    background-size: 80%;

    top: 206px;
    left: 284px;
  }
}

.plus-2 {
  top: 232px;
  left: 522px;

  @media (max-width: $mobile-br) {
    background-size: 80%;
    top: 232px;
    left: 452px;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  @media (max-width: $mobile-br) {
    position: relative;
    top: 48px;
  }
}

.section {
  position: relative;
  color: white;
  height: auto;
  overflow: hidden;

  &:not(:first-of-type) {
    padding: 80px 0;
    
    @media (max-width: $mobile-br) {
      padding: 60px 0;
    }
  }

  a {
    color: white;
  } 
}

.section-header {
  width: 100%;
  height: 100%;
}

.section-header-bg {
  background: url(../images/christineanddiego.jpg) no-repeat center top / cover;
  width: 100%;
  will-change: transform;

  @media (max-width: 700px) {
    background-position: 28% top;
  }
}

.hero-header {
  background: url(../images/diegoandchristine-header.png) no-repeat center center / contain;
  width: 319px;
  height: 143px;
  z-index: 3;

  @media (max-width: $mobile-br) {
    background-size: 70%;     
  }
}

.hero-header-container {
  // transform: scale(.5)
}

.section-wedding {
  background-color: #434f66;
}

.left-confetti {
  background: url(../images/left-confetti.png) no-repeat left center / contain;
  position: absolute;
  width: 203px;
  height: 866px;
  z-index: 0;
  left: 6%;
  top: -70px;

  @media (max-width: $mobile-br) {
    opacity: 0.7;
  }

  @media (max-width: 1440px) {
    left: 9%;
  }
}

.right-confetti {
  background: url(../images/right-confetti.png) no-repeat right center / contain;
  position: absolute;
  width: 203px;
  height: 866px;
  z-index: 0;
  right: 6%;
  top: -20px;

  @media (max-width: $mobile-br) {
    opacity: 0.7;
  }

  @media (max-width: 1440px) {
    right: 9%;
  }
}

.wedding-container {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media (max-width: $mobile-br) {
    margin-bottom: 60px;
  }

  p {
    text-align: center;
    margin-bottom: 18px;
  }

  h2 {
    margin-bottom: 15px;
  }

  .cocktail-copy {
    font-family: $apercu;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 17px;
  }
}


.wedding-container-date {
  margin-bottom: 74px;

  @media (max-width: $mobile-br) {
    margin-bottom: 54px;
  }
}

.address {
  font-family: $apercu;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.44px;
  line-height: 22px;
  @media (max-width: $mobile-br) {
    font-size: 14px;      
  }

  a {
    // text-decoration: none;
  }

  p {
    margin-bottom: 0.44px;
  }
}

.wedding-header {
  background: url(../images/wedding-header.png) no-repeat center center / contain;
  width: 283px;
  height: 78px;
  margin-bottom: 67px;

  @media (max-width: $mobile-br) {
    background-size: 70%;
    margin-bottom: 41px;     
  }
}

.rsvp-header {
  background: url(../images/rsvp-header.png) no-repeat center center / contain;
  width: 145px;
  height: 75px;
  margin-bottom: 40px;

  @media (max-width: $mobile-br) {
    background-size: 70%;     
  }
}

.rsvp-copy {
  margin-bottom: 49px;
}

.section-registry {
  height: 600px;
  min-height: 600px;

  @media (max-width: $mobile-br) {
    min-height: 460px;
    height: 460px;
  }
}

.registry-header {
  background: url(../images/registry-header.png) no-repeat center center / contain;
  width: 272px;
  height: 92px;
  margin-bottom: 60px;

  @media (max-width: $mobile-br) {
    background-size: 70%;    
    margin-bottom: 40px; 
  }
}

.registry-content {
  position: relative;
  z-index: 2;
}

.registry-bg {
  background: url(../images/registry-bg.jpg) no-repeat center bottom / cover;
  width: 100%;
  min-height: 600px;
  position: absolute;
  bottom: 0;
  z-index: 1;

  @media (max-width: $mobile-br) {
    min-height: 310px;
    background-position: center bottom 48px;
  }
}

.rsvp-wrap {
  position: relative;
  z-index: 2;
}

.rsvp-bg {
  position: absolute;
  z-index: 1;
}

.rsvp-bg-tl {
  background: url(../images/blob1.png) no-repeat top left / contain;
  // width: 723px;
  width: 100%;
  height: 302px;
  top: -51px;
}

.rsvp-bg-tr {
  background: url(../images/blob2.png) no-repeat top right / contain;
  // width: 754px;
  width: 100%;
  height: 316px;
  top: -26px;
  right: 0;
}

.rsvp-bg-br {
  background: url(../images/blob3.png) no-repeat bottom right / contain;
  width: 900px;
  height: 380px;
  bottom: -87px;
  right: 0;
}

.rsvp-bg-bl {
  background: url(../images/blob5.png) no-repeat bottom left / contain;
  width: 1037px;
  height: 277px;
  bottom: -22px;
}

.rsvp-bg-bm {
  background: url(../images/blob4.png) no-repeat bottom right / contain;
  width: 923px;
  height: 124px;
  bottom: -9px;
  right: 0%;
}

.section-rsvp {
  background-color: #878390;
  overflow: hidden;
}

.section-registry  {
  background-color: #707bab;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}