$icon-font-path: '../fonts/';
$pink: #FFE4DB;
$blue: #1E2863;

$form-input-bg: $pink;
$form-send-bg: $blue;
  
@font-face {
  font-family: 'Ultramagnetic';
  src: url('../fonts/ultramagnetic/ultramagnetic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ultramagnetic/ultramagnetic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// 
@import "form";

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fd877a;
  font-family:"Apercu Regular", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

h2 {
  font-family: 'Ultramagnetic', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
}

.required {
  color: #85f9c6;
}

.u-caps {
  text-transform: uppercase;
}

.u-center-text {
  text-align: center;
}

.u-mw-400 {
  margin: 0 auto;
  max-width: 400px;
}

.u-z-1 {
  position: relative;
  z-index: 1;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 20px;
  // padding-bottom: 20px;
}

p {
  font-family: Apercu-Regular;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.nav-header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Ultramagnetic;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-left: 27px;
}

.stars {
  position: absolute;
  top: -232px;
  left: -161px;
}

.star {
  background: url(../images/star.png) no-repeat center center / contain;
  width: 25px;
  height: 32px;
  position: absolute;
}

.star-0 {
  top: 251px;
  left: 48px;
}

.star-1 {
  top: 114px;
  left: 324px;
}

.star-2 {
  top: 375px;
  left: 477px;
}

.dots {
  position: absolute;
  top: -232px;
  left: -161px;
}

.dot {
  background: url(../images/dot.png) no-repeat center center / contain;
  width: 8px;
  height: 8px;
  position: absolute;
}

.dot-0 {
  top: 331px;
  left: 132px;
}

.dot-1 {
  top: 391px;
  left: 350px;
}

.dot-2 {
  top: 159px;
  left: 463px;
}

.circles {
  position: absolute;
  top: -232px;
  left: -161px;
}

.circle {
  background: url(../images/circle.png) no-repeat center center / contain;
  width: 16px;
  height: 16px;
  position: absolute;
}

.circle-0 {
  top: 448px;
  left: 155px;
}

.circle-1 {
  top: 189px;
  left: 212px;
}

.circle-2 {
  top: 274px;
  left: 567px;
}

.pluses {
  position: absolute;
  top: -232px;
  left: -161px;
}

.plus {
  background: url(../images/plus.png) no-repeat center center / contain;
  width: 18px;
  height: 21px;
  position: absolute;
}

.plus-0 {
  top: 448px;
  left: 155px;
}

.plus-1 {
  top: 189px;
  left: 212px;
}

.plus-2 {
  top: 274px;
  left: 567px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
}

.section {
  position: relative;
  color: white;
  height: auto;
  overflow: hidden;

  &:not(:first-of-type) {
    padding: 80px 0;
    
  }

  a {
    color: white;
  } 
}

.section-header {
  width: 100%;
  height: 100%;
}

.section-header-bg {
  background: url(../images/christineanddiego.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
}

.hero-header {
  background: url(../images/diegoandchristine-header.png) no-repeat center center;
  background-size: contain;
  width: 319px;
  height: 143px;
  z-index: 3;
}

.section-wedding {
  background-color: #434f66;
}

.left-confetti {
  background: url(../images/left-confetti.png) no-repeat left center / contain;
  position: absolute;
  width: 203px;
  height: 866px;
  z-index: 0;
  left: 6%;
}

.right-confetti {
  background: url(../images/right-confetti.png) no-repeat right center / contain;
  position: absolute;
  width: 203px;
  height: 866px;
  z-index: 0;
  right: 6%;
}

.wedding-container {
  margin-bottom: 80px;

  p {
    text-align: center;
    margin-bottom: 18px;
  }

  h2 {
    margin-bottom: 15px;
  }

  .cocktail-copy {
    font-family: Apercu-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 17px;
  }
}


.wedding-container-date {
  margin-bottom: 74px;
}

.address {
  font-family: Apercu-Regular;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.44px;
  line-height: 22px;
  p {
    margin-bottom: 0.44px;
  }
}

.wedding-header {
  background: url(../images/wedding-header.png) no-repeat center center / contain;
  width: 283px;
  height: 78px;
  margin-bottom: 67px;
}

.rsvp-header {
  background: url(../images/rsvp-header.png) no-repeat center center / contain;
  width: 145px;
  height: 75px;
  margin-bottom: 60px;
}

.rsvp-copy {
  margin-bottom: 49px;
}

.registry-header {
  background: url(../images/registry-header.png) no-repeat center center / contain;
  width: 272px;
  height: 92px;
  margin-bottom: 60px;
}

.rsvp-wrap {
  position: relative;
  z-index: 2;
}

.rsvp-bg {
  position: absolute;
  z-index: 1;
}

.rsvp-bg-tl {
  background: url(../images/rsvp-bg-tl.png) no-repeat top left / contain;
  // width: 723px;
  width: 100%;
  height: 302px;
  top: -51px;
}

.rsvp-bg-tr {
  background: url(../images/rsvp-bg-tr.png) no-repeat top right / contain;
  // width: 754px;
  width: 100%;
  height: 316px;
  top: -26px;
  right: 0;
}

.rsvp-bg-br {
  background: url(../images/rsvp-bg-br.png) no-repeat bottom right / contain;
  width: 900px;
  height: 380px;
  bottom: -7px;
  right: 0;
}

.rsvp-bg-bl {
  background: url(../images/rsvp-bg-bl.png) no-repeat bottom left / contain;
  width: 1037px;
  height: 277px;
  bottom: -12px;
}

.rsvp-bg-bm {
  background: url(../images/rsvp-bg-bm.png) no-repeat bottom center / contain;
  width: 923px;
  height: 124px;
  bottom: -9px;
  right: -5%;
}

.section-rsvp {
  background-color: #878390;
  overflow: hidden;
}

.section-registry  {
  background-color: #4d5798;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}