$icon-font-path: '../fonts/';
$pink: #FFE4DB;
$blue: #1E2863;

$form-input-bg: $pink;
$form-send-bg: $blue;
  
@font-face {
  font-family: 'Ultramagnetic';
  src: url('../fonts/ultramagnetic/ultramagnetic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ultramagnetic/ultramagnetic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ultramagnetic/ultramagnetic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// 
@import "form";

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #46487b;
  font-family:"Apercu Regular", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

h2 {
  font-family: 'Ultramagnetic', sans-serif;
  font-size: 20px;
}

.u-caps {
  text-transform: uppercase;
}

.u-center-text {
  text-align: center;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 20px;
  // padding-bottom: 20px;
}

.star {
  background: url(../images/star.png) no-repeat center center / contain;
  width: 25px;
  height: 32px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
}

.section {
  position: relative;
  color: white;
  height: auto;

  a {
    color: white;
  }
}

.section-header {
  background: url(../images/christineanddiego.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
}

.hero-header {
  background: url(../images/diegoandchristine-header.png) no-repeat center center;
  background-size: contain;
  width: 319px;
  height: 143px;
}

.section-wedding {

  background-color: #4a4a4a;
}

.wedding-header {
  background: url(../images/wedding-header.png) no-repeat center center;
  background-size: contain;
  width: 283px;
  height: 78px;
}

.rsvp-header {
  background: url(../images/rsvp-header.png) no-repeat center center;
  background-size: contain;
  width: 145px;
  height: 75px;
}

.section-rsvp {
  background-color: #878390;
}

.section-registry  {
  background-color: #4d5798;
}
